@import "tailwindcss";

@layer base {
  main {
    @apply mt-2 mx-auto max-w-7xl md:px-6 sm:px-6 max-sm:px-8
  }

  p {
    @apply mt-2 text-gray-800
  }

  h1 {
    @apply text-gray-800 text-center font-bold text-2xl
  }

  pre {
    /* padding: 1.5em; */
    @apply p-[1.5em] rounded-lg my-3
  }
}

@layer components {
  .text-title {
    @apply mt-2 text-4xl text-center;
  }

  .date {
    @apply mt-0 text-gray-400
  }

  /* pre {
    padding: 1.5em;
    border-radius: 8px;
  } */

  pre>code {
    all: unset;
  }
}