---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Talk about me"
	pubDate={new Date("2024-03-26")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Hi! I'm Julio Cesar Cori Ochoa, a developer that improves his skills.</p>

	<p>
		Working within a team is my main goal. One of my favorite things to do is go
		out for a walk with my dogs. I like reading books.
	</p>

	<p>
		HTML, CSS, JavaScript, Bootstrap, Vue.js, Quasar.js, Node.js, Express,
		Python, Git and Bash.
	</p>

	<p>I created a system about tracking projects degree.</p>
</Layout>
