---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Talk about me"
	pubDate={new Date("2024-03-26")}
	heroImage="https://www.bistouille.fr/wp-content/uploads/2021/10/Bistouille-Le-Petit-Prince-Gratuit.png"
>
	<p>
		Hi! I'm Julio Cesar Cori Ochoa, a developer who is always improving his
		skills.
	</p>

	<p>
		Working within a team is one of my main goals. One of my favorite things to
		do is take my dogs for a walk. I also enjoy reading books.
	</p>

	<p>
		Skills: HTML, CSS, JavaScript, Bootstrap, Vue.js, Quasar.js, Node.js,
		Express, Python, Git and Bash.
	</p>

	<p>I created a project-tracking system for a university.</p>
	<p>
		In my last job, we created a system to manage cases of injustice of my
		country.
	</p>
</Layout>
