---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="sm:flex sm:justify-center space-x-20 mt-4 sm:p-8">
		<img
			class="h-[30vh] object-cover mask-radial-at-center mask-radial-from-50% mask-radial-to-70% max-sm:mx-auto"
			alt="yo sonriendo"
			src="/profile.jpeg"
		/>
		<div class="max-sm: mt-8">
			<div class="text-title">Hello, everybody!</div>
			<p>
				Welcome to my webpage where you can learn all about me. Sometimes I
				write some posts on my personal blog that might interest you. I'm a
				software developer who enjoys challenges.
			</p>
		</div>
	</div>
</BaseLayout>
