---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="text-title max-sm:mt-8">Hello, everybody!</div>
	<p>
		Welcome to my webpage where you can learn all about me. Sometimes I write
		some posts on my personal blog that might interest you. I'm a software
		developer who enjoys challenges.
	</p>
</BaseLayout>
