---
const today = new Date();
import { SITE_TITLE_DEFAULT } from "../consts";
import SocialLinks from "../components/SocialLinks.astro";
---

<footer
  class="sm:flex sm:justify-between bg-gray-100 py-4 sm:px-50 max-sm:text-center"
>
  <p>
    &copy; {today.getFullYear()}
    {SITE_TITLE_DEFAULT}. All rights reserved
  </p>
  <SocialLinks />
</footer>
