---
import NavLink from "./NavLink.astro";
---

<nav class="flex h-16 items-center justify-evenly">
  <NavLink href="/">Home</NavLink>
  <NavLink href="/blog">Blog</NavLink>
  <NavLink href="/about">About</NavLink>
</nav>
