---
import NavLink from "./NavLink.astro";
---

<div class="mx-auto max-w-7xl px-2 max-sm:px-6">
  <nav class="sm:flex h-16 mt-2 items-center justify-between max-sm:mt-4">
    <div class="flex items-center justify-center">
      <img src="/logo-cc.png" alt="logo" class="h-8" />
      <a class="ml-4 font-bold text-cyan-600" href="/">Cesar cori</a>
    </div>
    <div class="flex space-x-4 justify-center max-sm:mt-3">
      <NavLink href="/">Home</NavLink>
      <NavLink href="/about">About</NavLink>
      <NavLink href="/blog">Blog</NavLink>
    </div>
  </nav>
</div>
