---
const { href } = Astro.props;
---

<a
  class="hover:text-cyan-600 aria-[current=page]:text-cyan-600 aria-[current=page]:font-bold"
  href={href}
  aria-current={Astro.url.pathname === href ? "page" : undefined}
>
  <slot />
</a>
