---
const { href } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");

const subpath = pathname.match(/[^\/]+/g);

const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  aria-current={isActive ? "page" : undefined}
  class="hover:text-cyan-600
  aria-[current=page]:text-cyan-600
  aria-[current=page]:font-bold"
>
  <slot />
</a>
