---
import "../styles/global.css";
import { SITE_TITLE_DEFAULT } from "../consts";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle = SITE_TITLE_DEFAULT } = Astro.props;

const GA_ID = import.meta.env.PUBLIC_GA_ID;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logo-cc.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			async
			src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", GA_ID);
		</script>
	</head>
	<body>
		<Header />
		<main class="max-sm:mt-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
